.mainpage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.mainpage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 300px; /* Increased height */
  position: relative;
  border-radius: 0px 0px 25px 25px;
}

.mainpage-header::before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 100px; /* Increase this to make the curve smoother */
  background-color: #333;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: -1;
}

.mainpage-logo {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 100px;
}

.mainpage-prompt-section {
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Remove margin */
  margin-right: 20px; /* Space between prompt section and Sign Up/Sign In button */
}

.mainpage-prompt-input {
  flex: 10;
  padding: 15px;
  border: 2px solid #7c7a7a;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1.5rem;
}

.mainpage-generate-button {
  background-color: #f0a500;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
}

.mainpage-auth-buttons .mainpage-auth-button {
  background-color: #f0a500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mainpage-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainpage-output-section {
  flex: 1;
  width: 100%;
  max-width: 800px;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mainpage-output-placeholder {
  height: 400px; /* Adjusted size for larger content area */
  background-color: #d3d3d3;
  border-radius: 10px;
}

.mainpage-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.mainpage-action-button {
  background-color: #f0a500;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.mainpage-action-button.mainpage-save-draft {
  background-color: #333;
}

.mainpage-action-button.mainpage-publish {
  background-color: #f0a500;
}
